<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <clear />
    <add key="globalPackagesFolder" value="packages" />
    <!-- TODO: TBD: ostensibly, may we use these defined bits as expanded arguments during the packageSources? -->
    <!-- TODO: TBD: Possible to expand custom config during packageSources / https://github.com/NuGet/Home/issues/8587 -->
    <!-- TODO: TBD: https://stackoverflow.com/questions/57927398/possible-to-use-nuget-config-custom-config -->
    <!-- TODO: TBD: i.e. "$ostoolsSatCodeGeneration$ $releasedPackagesLabel$", "$ostoolsSatCodeGeneration$.Attributes $releasedPackagesLabel$", ... -->
    <!-- TODO: TBD: i.e. "$ostoolsSatCodeGeneration$$binReleasePath", "$ostoolsSatCodeGeneration$.Attributes$binReleasePath", ... -->
    <add key="codePath" value="..\code\" />
    <add key="ortoolsSatCodeGeneration" value="Kingdom.OrTools.Sat.CodeGeneration" />
    <add key="releasePackagesLabel" value="Release Packages" />
    <add key="binDebugPath" value="\bin\Debug" />
    <add key="ortoolsSatCore" value="Kingdom.OrTools.Sat" />
    <add key="debugPackagesLabel" value="Debug Packages" />
    <add key="binReleasePath" value="\bin\Release" />
  </config>
  <packageSources>
    <!--<add key="Internal Code Generation Packages" value="tools\NuGet\packages" />-->
    <add key="Kingdom.OrTools.Sat.CodeGeneration Release Packages" value="..\code\Kingdom.OrTools.Sat.CodeGeneration\bin\Release" />
    <add key="Kingdom.OrTools.Sat.CodeGeneration.Attributes Release Packages" value="..\code\Kingdom.OrTools.Sat.CodeGeneration.Attributes\bin\Release" />
    <add key="Kingdom.OrTools.Sat.CodeGeneration.Core Release Packages" value="..\code\Kingdom.OrTools.Sat.CodeGeneration.Core\bin\Release" />
    <add key="Kingdom.OrTools.Sat.CodeGeneration.Tasks Release Packages" value="..\code\Kingdom.OrTools.Sat.CodeGeneration.Tasks\bin\Release" />
    <add key="Kingdom.OrTools.Sat.CodeGeneration.Tool Release Packages" value="..\code\Kingdom.OrTools.Sat.CodeGeneration.Tool\bin\Release" />
  </packageSources>
</configuration>